<div class="container-fluid pageMainClass">
        <!-- <app-header></app-header> -->
        <app-sidebar></app-sidebar>
        <div style="margin-left: 255px !important; margin-top: 92px; padding: 0px 10px 5% 25px !important; ">
                <router-outlet></router-outlet>
        </div>
        <!-- <app-footer></app-footer> -->
</div>
