<router-outlet></router-outlet>
<p-growl></p-growl>
<div id="loader" *ngIf="commonService._showLoader|async" > 
        <span class="bg-color">
          <span class="btn-loading"></span>
        </span>
      </div>
      
