@import './variables';

:host /deep/ .ui-datepicker{
  background-color: white;
  top: 38px !important;
}
:host /deep/ .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-highlight {
  background-color: $color-blue;
  color: white;
}
:host /deep/ .ui-datepicker.ui-widget .ui-datepicker-calendar td {
  border-bottom: 1px solid rgba(213, 213, 213, 0.5);
  padding: 0;
  a{
    text-align: center;
    color: black;
    padding: 8px;
  }
}
:host /deep/ .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-highlight {
  background-color: #d6d6d6;
  color: #212121;
}
:host /deep/.ui-datepicker.ui-widget .ui-datepicker-calendar tr:last-child td {
  border-bottom: 0 none;
}
:host /deep/ .ui-datepicker .ui-datepicker-calendar td:not(.ui-state-disabled) a:hover {
  border-color: #c0c0c0;
  background: #eeeeee;
  color: #212121;
}
:host /deep/ .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-active {
  background-color: #186ba0;
  color: #ffffff;
}
:host /deep/ .ui-datepicker.ui-widget .ui-datepicker-calendar td a.ui-state-disabled {
  opacity: 0.3;
}
:host /deep/ .ui-calendar {
  width: 100%;
  .ui-inputtext {
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: $add-field-background-color;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 85%
  }
}
:host /deep/.ui-button-text.ui-clickable {
  display: none;
}
:host /deep/.ui-calendar .ui-calendar-button{
  background-color: $white;
  color: $black;
  cursor: pointer;
  border-left: 1px solid darkgray;
  // border-left : 1px none;
}
:host /deep/.ui-calendar .ui-calendar-button:enabled:hover{
  border-left: 1px solid darkgray;
}
:host /deep/.ui-calendar .pi{
  line-height: 2;
}
