@import "./variables";
:host /deep/ .arabicSide .ui-dropdown .ui-dropdown-panel .ui-dropdown-items li{
  padding: 4px 8px;
  border-left: 2px solid transparent;
  color: $black;
  text-align: right !important;  // arabic
  &:hover{
    border-left:2px solid $color-blue;
    background-color: #f8f8f8;
  }
}
:host /deep/ .arabicSide .ui-dropdown-panel .ui-dropdown-item{
  text-align: right !important;  // arabic
}
:host /deep/ .arabicSide p-dropdown:not(.no-border) .ui-dropdown .ui-dropdown-label {
  padding: 0 5px;
  // text-align: left;
  text-align: right !important;  //arabic
}

:host /deep/ .arabicSide .ui-dropdown .ui-dropdown-trigger{

  right: 100% !important;  //arabic
  left: 0 !important;
}

:host /deep/ .ui-dropdown .ui-dropdown-panel .ui-dropdown-items{
  padding: 0;
}
:host /deep/ .ui-dropdown .ui-dropdown-panel{
  z-index: 1 !important;
  background-color: white;
}
:host /deep/ .ui-dropdown .ui-dropdown-panel .ui-dropdown-items li{
  padding: 4px 8px;
  border-left:2px solid transparent;
  color: $black;

  text-align: left; 
  &:hover{
    border-left:2px solid $color-blue;
    background-color: #f8f8f8;
  }
}
:host /deep/ p-dropdown:not(.no-border) .ui-dropdown .ui-dropdown-label {
  padding: 0 5px;
  text-align: left;
}
:host /deep/ .ui-dropdown .ui-dropdown-panel .ui-dropdown-items li.ui-state-highlight{
  background-color: $color-blue;
  color: white;
}

:host /deep/ .ui-dropdown .ui-dropdown-trigger .fa{
  color: #474747;
}

:host /deep/ .ui-dropdown{
  border: solid 1px $black;
}
:host /deep/ .ui-dropdown .is-invalid{
  border-color: #dc3545;
 
}

:host /deep/ .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon{
  top: 50%;
    left: 70%;
    margin-top: -.5em;
    margin-left: -.5em;
    position: absolute;
}

:host /deep/ .dropdownInline .ui-dropdown-panel .ui-dropdown-items-wrapper{
  overflow: auto;
  word-break: inherit;
  white-space: nowrap;
  max-width: 250px;
}

// :host /deep/ .dropdownInline .ui-dropdown-panel .ui-dropdown-items-wrapper{
//   overflow: auto;
//   word-break: inherit;
//   white-space: nowrap;
//   max-width: 250px;
// }