
:host /deep/ .ui-growl-image{
    display:none!important;
}
:host /deep/ .ui-growl-message{
    padding: 10px 10px 2px 10px;
}
:host /deep/ .ui-growl-message-success{
    color: #fff;
    background-color: green;
}
:host /deep/ .ui-growl-message-error{
        background-color: red;
        color: #fff;
}
:host /deep/ .ui-growl.ui-widget{
    position: fixed;
    top: 10% !important;
    right: 0px!important;
    max-width: calc(100vw - 50px);
    min-width: 20em;
    width: fit-content;
    // top: auto!important;
}
:host /deep/ .ui-growl-title{
    display: none!important;
}
:host /deep/ .ui-growl-icon-close{
    // top: calc((100% - 20px)/2);
    // right: 10px;
    display: none!important;

}
:host /deep/ .ui-growl-message{
    width: calc(100% - 10px);
}
:host /deep/ .ui-growl-icon-close.fa-close{
    // color: #ddd;
    display: none!important;

}
:host /deep/ .ui-growl.ui-widget {
    z-index: 3010!important;
}


@media (max-width: 335px) {
:host /deep/ .ui-growl.ui-widget {
    min-width: 16em;
}
}
