@font-face {
    font-family: 'lato-regular';
    src: url('#{$fonts-root}lato/lato-regular.woff2') format('woff2'),
    url('#{$fonts-root}lato/lato-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
  }
  @font-face {
    font-family: 'lato-bold';
    src: url('#{$fonts-root}lato/lato-bold.woff2') format('woff2'),
    url('#{$fonts-root}lato/lato-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    text-transform: initial;
  }
  
  $base-font:'lato-regular';
  $base-bold-font:'lato-bold';
  