
/* multiselect */
:host /deep/.ui-multiselect-panel{
  background-color: white;
}
:host /deep/ .ui-multiselect-header .ui-multiselect-filter-container{
  width: 75%!important;
}
:host /deep/ .ui-chkbox {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  margin-right: .25em;
}

:host /deep/ .ui-multiselect .ui-multiselect-trigger {
  border-right: none;
  border-top: none;
  border-bottom: none;
  cursor: pointer;
  width: 2.5em;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 4%;
  /* left: 158px; */
  padding: 0 8px;
}

:host /deep/ .ui-chkbox .ui-chkbox-box {
  width: 1.125em;
  height: 1.125em;
  line-height: 1.125em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
  border:1px solid #ddd;
}

:host /deep/ .ui-chkbox .ui-chkbox-icon {
  display: block;
}

:host /deep/ .ui-chkbox-label {
  vertical-align: middle;  
}

:host /deep/ .ui-multiselect-item.ui-corner-all{
  margin-bottom: 4px;
}
:host /deep/ p-multiSelect:not(.show-header) .ui-multiselect-header{
  // display: none;
}
:host /deep/ .ui-multiselect{
  border: none;
  display: flex;
  margin: -6px -12px 0px -12px;
  align-items: center;
}
:host /deep/ .arabicSide .ui-multiselect .ui-multiselect-trigger {
  right: 85% !important;  //arabic
  // left: 0 !important;
}
:host /deep/ .arabicSide .ui-multiselect-panel  .ui-multiselect-item{
  text-align: right !important;  // arabic
}


:host /deep/ .ui-multiselect-label, :host /deep/ .ui-multiselect-panel .ui-multiselect-item label{
  margin: 0!important;
}
:host /deep/ .ui-multiselect.ui-state-disabled{
  background-color: #eaecef;
}
:host /deep/ .ui-multiselect-header .ui-multiselect-close{
display: none;
}
:host /deep/ .ui-multiselect-header .ui-multiselect-filter-container{
  width: 80% !important;
}
:host /deep/ .ui-multiselect-header .ui-multiselect-filter-container .fa{
  top: 0.4em
}
:host /deep/ .ui-multiselect-header .ui-multiselect-filter-container .ui-multiselect-filter-icon {
 display: none;
}

:host /deep/ .ui-multiselect .ui-multiselect-label {
  display: block;
  padding: .25em 1em .25em .25em !important;
  width: auto;
  border: none;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
}