@import './variables';
:host /deep/ .ui-overlaypanel {
  padding: 0;
  margin: 0;
  top: 200px !important;
  position: absolute;
  z-index: 3000!important;
  background: $search-background;
  color: $black;
  font-size: 12px;
  letter-spacing: .5px;
  width: 100%;
  // font-family: $mont-light;
  max-width: 550px;
}

:host /deep/ .ui-overlaypanel-content {
  padding: 2em;
}

:host /deep/ .ui-overlaypanel-close {
  position: absolute;
  top: -.5em;
  right: -.5em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}