@import "./variables";

body {
  background-color: #f8f8f8;
}

thead.ui-table-thead {
  background-color: $white !important;
  color: rgba(0, 0, 0, 0.51);
  border: none;
}
.ui-table-head tr {
  height: 50px !important;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  color: rgba(37, 45, 71, 0.62);
}

.table-container {
  border: 1.2px solid #EEEEEE;
  border-radius: 4px;
  box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.12);
}

.ui-table .ui-table-tbody tr:nth-child(odd){
  background-color: #f8f8f8;
}

.pi-search:before
{
    display: none!important;
}
.pi {
  font-family: 'primeicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: super;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ui-chkbox .ui-chkbox-box {
  // margin-top: 3px;
    border: 1px solid #a6a6a6;
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    transition: background-color 0.2s, border-color 0.2s;
}
.ui-table .ui-table-thead > tr > th {
  background-color: $white !important;
  font-size: 12px;
  line-height: 1.65;
  color: $black;
  height: 30px !important;
  font-style: normal;
  font-stretch: normal;
  text-transform: uppercase;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.ui-table-tbody > tr {
  height: 50px !important;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  line-height: 1.5;
  color: $black;
  td:not(:last-child){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.ui-table {
  background-color: $white;
}
.ui-table-wrapper {
  margin-bottom: 2px;
  // padding: 0 15px;
  overflow-x: unset!important;
}
.ui-table .ui-table-thead > tr > th,
.ui-table .ui-table-tbody > tr > td,
.ui-table .ui-table-tfoot > tr > td {
  padding: 0.5em 0.5em;
  word-wrap: break-word;
}
.ui-paginator-first,
.ui-paginator-last {
  display: none !important;
}

.ui-paginator-bottom {
  padding-top: 20px;
  font-size: 12px;
}
.ui-paginator-prev {
  display: flex!important;
    span.fa-backward::before {
    content: "\E939" !important;
    font-size: 13px;
    color: #343a40d9;
    background-color: #fafafa;
    padding: 7px 8px;
    border-radius: 4px;
    }
}
.ui-paginator-next {
  position: relative;
  text-align: left;
}
.ui-paginator-next span.fa-forward {
  display: block;
}
.ui-paginator-next span.fa-forward::before {
  content: "\E949";
  font-size: 13px;
  color: #343a40d9;
  background-color: #fafafa;
  padding: 7px 8px;
  border-radius: 4px;
}
a.ui-paginator-page.ui-paginator-element.ui-state-default.ui-corner-all:not(.ui-state-active) {
  color: black;
}
.ui-state-disabled {
  cursor: not-allowed !important;
  opacity: 0.7;
}
.ui-dropdown {
  border: 3px solid #ddd;
}
.ui-dropdown-label {
  margin: 0;
}
.ui-paginator-bottom p-dropdown {
  right: 0;
  position: absolute;
  padding-top: 20px;
}
.ui-paginator-prev:active,
.ui-paginator-prev:focus,
.ui-paginator-next:active,
.ui-paginator-next:focus {
  outline: 0 none !important;
}
.ui-paginator-left-content {
  left: 0;
  padding: 0;
  padding-left: 0;
  margin-top: 0;
  font-size: 13px;
  text-align: left;
  float: left;
  color: rgba(51, 51, 51, 0.51);
}
.ui-table-caption {
  padding: 0px 0px 10px 0px !important;
}
.ui-dropdown-panel .ui-dropdown-list {
  background-color: white;
}
.ui-table-loading {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}
.ui-table-loading-content i::before {
  display: inline-flex;
  right: 0;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  -webkit-animation: spin 0.8s linear infinite;
  animation: spin 0.8s linear infinite;
  vertical-align: inherit;
  margin-left: 10px;
  margin-top: 2px;
  content: "";
  position: absolute;
  margin: auto;
  left: 0;
  top: 40%;
  z-index: 2;
}
.ui-table-loading-content .fa-spin {
  animation: none !important;
}
.ui-table-scrollable-wrapper {
  margin-left: 30px;
}

.paginatorCaption {
  padding-left: 3px;
  font-size: 13px;
  letter-spacing: 0.8px;
  color: rgba(37, 45, 71, 0.51);
  text-transform: capitalize;
  height: 33px;
}
.ui-table-auto-layout > .ui-table-wrapper {
  overflow: unset;
}

@media (max-width: 700px) {
  .ui-paginator-right-content, {
    padding-top: 10px;
  }
}

.ui-paginator {
  text-align: right !important;
}

.ui-paginator-right-content {
  padding-top: 3px;
}

// paginator styling
.ui-paginator-bottom {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  .ui-paginator-left-content {
    flex: 1;
    order: -2;
  }
  .ui-paginator-right-content{
    color: rgba(51, 51, 51, 0.51);
  }
  .ui-paginator-right-content,.ui-inputwrapper-filled  {
    order: -1;
    padding: 0;
    position: relative;
    .ui-dropdown-label {
      text-align: left;
    }
  }
  .ui-paginator-page {
    &.ui-state-active {
      border-bottom: none;

    }
  }
}

@media (max-width: 767px) {
  // paginator styling
  .ui-paginator-bottom {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    .ui-paginator-left-content {
      width: 100%;
      flex: auto;
      padding: 0 15px;
      margin-bottom: 10px;
    }
    .ui-paginator-right-content,.ui-inputwrapper-filled  {
      order: 0;
      width: 100%;
      padding: 0px 15px;
      margin-top: 10px;
      color: rgba(51, 51, 51, 0.51);
    }
  }
}

// .ui-table-tbody .body-row td:first-child {
//     padding-left: 12px;
// }

.ui-table-summary{
  padding: 0 15px;
}


