// color constants
$black : #000;
$white : #fff;
$border : #ddd;
$footer-text : #333;
$color-blue: #1394ff;
$color-light-gray: #d3d3d3;
$heading-background-color : #19E3EF;
$search-background: #ebebeb;
$form-field-border: #ced4da;
$add-field-background-color: #f2f2f2;
$cyan : #19E3EF;

// path constants
$assets-root: 'assets/';
$images-root: $assets-root + 'image/';
$fonts-root: $assets-root + 'fonts/';