@import '../../theme/theme'; 

.sidebar-div{
  width: 100%;
  max-width: 100%;
  // box-shadow: 5px 0 30px 0 rgba(0,0,0,.5);
  transition: all .2s;
  min-height: 100%;
  height: 100%;
  background-color: $white;
  position: fixed;
  left: 0;
  top: 0;
  transition-delay: 0s;
  transform: translate3d(0,0,0);  
  opacity: 1;
  z-index: 1;
  .logo_space{
    height: 70px;
    display: block;
    padding: 0 30% 0 25%;   //padding-left: 24px;
    color: $white;
    text-decoration: none!important;
    white-space: nowrap;
    transition: all .3s;
    outline: 0;
    background-color: $black;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .img-logo{
    margin-left: 25px;
    max-height: 53px;
    padding-top: 0px;
  }

  div.items{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: calc(100% - 60px);
    background-color: $black;
    ul{
      margin-top: 0px;                    //45px;
    }
  }
  .color-white {
    color: $white;
  }
  .mTop10 {
    margin-top: 10px;
  }
  ul.bottom-navbar,ul.top-navbar{
    margin: 0;
    padding: 0;
    overflow: auto;
    .itemsDiv {
      white-space: nowrap;
      padding: 0;
      li {
        height: 30px !important;
        padding: 5px 12px;
        min-height: 30px !important;
        &.active{
          color: $black;
          background: $white;
        }
      }
    }
    li{
      font-style: normal;
      font-stretch: normal;
      font-family: $base-font;
      color: $white;
      transition: all .5s;
      min-height: 45px;
      padding: 12px 20px;
      letter-spacing: 1.8px;
      font-size: 14px;
      list-style-type: none;
      display: block;
      align-items: center;
      cursor: pointer;
      .no-border {
        border: none;
      }
      .yf{
        font-size: 20px;
      }
      &:hover{
        color: $black;
        background-color: $white;
        .yf{
          color: $white;
          opacity: 1;
        }
      }
      &.active{
        color: $black;
        background-color: $white;
        .yf{
          color: $white;
          opacity: 1;
        }
      }

      span.menu-img .tf-new{
        &::before{
        font-size: 20px;
        }
        .path1::before,{
          font-size: 20px;
        }
        .path2::before{
          font-size: 21px;
        }
      }
      span.menu-img{
        width: 40px;
      }
      span.full-text {
        margin-left: 10px;
        width: 75%;
      }
      span.full-text-sub {
        margin-left: 45px;
        width: 75%;
      }
    }
  }
  .mTop3 {
    margin-top: 3px;
  }
  .fa-caret-down:before {
    padding-left: 20px;
}
.fa-caret-up:before {
  padding-left: 20px;
}
.submenu li {
  padding-left:15px;
  }
  ul li + .submenu {
  display: none;
  }
  ul li.active + .submenu {
    display: block;
    list-style: none;    
    }
  ul li.active {
    background-color: red;
  }
}

@media (min-width:996px){
  .sidebar-div{
    max-width: 270px;
  }
}

// .top-navbar li:nth-child(4){
//   color: $white!important;
//     background-color: $black!important; 
// }

// .top-navbar li:hover:nth-child(4){
//   color: $black!important;
//     background-color: $white!important; 
// }


 .top-navbar .subMenuClass{
    color: $white!important;
      background-color: $black!important; 
  }

  .top-navbar .subMenuClass:hover{
    color: $black!important;
      background-color: $white!important; 
  }

 