    <div class="sidebar-div" (click)="$event.stopPropagation()">
            <a class="logo_space">
                <i class="tf-new icon-Main_Menu menu-trigger desktop-menu d-none d-lg-block cp"></i>
                <i class="tf tfont cross menu-trigger mobile-menu d-lg-none cp"></i>
                <!-- <img class="img-logo cp" src="/assets/image/logo.png"> -->
                <!-- <img class="img-logo cp" src="/assets/image1/sidebar_logo.png"> -->
            </a>
            <div class="items">
                <ul class="top-navbar">
                    

                    <li class="setting bottom dropdown-submenu" routerLink="/page/settings/university" routerLinkActive="active">
                        <i class="fa fa-dashcube" aria-hidden="true"></i>
                        <span class="full-text">Categories</span>
                    </li>

                    <li class="setting bottom dropdown-submenu" routerLink="/page/student" routerLinkActive="active" (click)="studentSelect()">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>

                        <span class="full-text">Ingredients</span>
                    </li>


                    <li class="setting bottom dropdown-submenu" routerLink="/page/teacher" routerLinkActive="active" (click)="studentSelect()">
                        <i class="fa fa-superpowers" aria-hidden="true"></i>

                        <span class="full-text">Name</span>
                    </li>
                   
                </ul>
            </div>
        </div>