<div class="teacherMainClass" *ngIf="maxDateTillToday">
    <div class="headerText">
        <h5>Filter by Name</h5>
    </div>
    <div class="filter-container">
      <div class="row justify-content-between">

          <div class="col-3 searchClass">
              <i class="fa fa-search search_icon" aria-hidden="true"></i>
              <input type="text" class="form-control" [(ngModel)]="searchTeacherName" (ngModelChange)="emptySearchData(searchTeacherName)" (keydown)="keyDownFunction($event)" placeholder="Search by name" aria-label="Search">
          </div>

          <div class="col-9">

          </div>



          <div class="col-12">
              <table>
                  <tr>
                    <th>Alcholic Name</th>
                    <th>ID</th>
                    <th>Category</th>
                    <th>Creative Commons</th>
                    <th>Image</th>
                    <th>Glass Name</th>
                    <th>Ingredient 1</th>
                    <th>Ingredient 2</th>
                  </tr>
        
                  <tr *ngFor="let data of namesData">
                    <td>{{data.strAlcoholic}}</td>
                    <td>{{data.idDrink}}</td>
                    <td>{{data.strCategory}}</td>
                    <td>{{data.strCreativeCommonsConfirmed}}</td>
                    <td>
                      <img src="{{data.strDrinkThumb}}" style="height: 200px;width: 200px;" /> 
                    </td>
        
                    <td>{{data.strGlass}}</td>
                    <td>{{data.strIngredient1}}</td>
                    <td>{{data.strIngredient2}}</td>
                  </tr>
                  
                </table>
         
          </div>
        
       
      </div>
    </div>
    <div class="table-container">

    </div>
    <div class="totalCountText">
      <span>Total count of teachers: </span> {{totalRows}}
  </div>

</div>
