@import '../../../../theme/theme'; 
@import '../../../../theme/sass/table.scss'; 


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  
  
i.fa.fa-search.search_icon {
    position: absolute !important;
    left: 31px !important;
    color: #15565c;
    top: 13px;
}

.schoolMainClass{
    .invalid-feedback{
        div{
            height: 0px;
        }
    }
    .table-container {
        .ui-table-tbody > tr:nth-child(even) {
            background: #f8f8f8;
        }
    }
    .headerText{
        background-color: $heading-background-color;
        padding: 10px 10px 5px; 
        border-radius: 2px;
        margin: 20px 0px 18px 0px;
        font-family: $base-bold-font;
        color: $black;
    }
    .filter-container{
        // z-index: -1;
        position: inherit;
        .searchClass {
            input{
                padding: 9px 10px 9px 40px;
                border-radius: 20px;
                outline: none;
                background-color: #fff;
                border: 1px solid #f1f1f1;
                height: 42px;
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
            }
            input::placeholder{
                font-size: 14px; 
            }
        }
    }
    .table-container{
        margin-top: 20px;
    }
    .totalCountText{
        padding: 10px 10px; 
        border-radius: 2px;
        margin: 20px 0px 18px 0px;
        font-family: $base-font;
        background-color: $black;
        color: $white;
        span{
            font-size: 15px;
        }
    }
    .actionBtn{
    background-color: $black;
    color: $white;
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 10px;
    margin: 5px;
    outline: none;
    }
    .filterBtn{
        margin-left: 15px;
        margin-right: 15px;
    }
}
.ptableClass{
     .ui-state-highlight{
        color: $black !important;
    }
    .ui-chkbox .ui-chkbox-box {
        margin-top: 3px;
        border: 1px solid #a6a6a6;
        background-color: #ffffff;
        width: 13px !important;
        height: 13px !important;
        text-align: center;
        border-radius: 0px;
        transition: background-color 0.2s, border-color 0.2s;
    }
}
.filterOverlayClass{
    label{
         font-size: 14px;
         font-family: $base-font;
         color: #333;
    }
   
}
.btn-popup-primary{
    width: 20%;
    background-color: $black;
    color: $white;
    border-radius: 10px;
    height: 43px;
}
.btn-csv-popup-primary{
    background-color: #000;
    color: #fff;
    /* padding: 7px 12px; */
    width: 150px;
    border-radius: 20px;
    float: right;
}
.addStudentMainClass{
    .form-control{
        background-color: $add-field-background-color;
        padding-right: 2px !important;
        border: 0;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
   } 
   .form-group label {
        font-weight: 100;
        font-size: 12px;
        display: block;
        color: #919191;
    }
   .form-control.is-invalid{
       background-image: inherit !important;
       padding-right: 0px !important;
    }
}
.viewStudent{
    label{
        margin-bottom: 0px;
        font-weight: 100;
        font-size: 12px;
        display: block;
        color: #919191;
    }
    p{
        font-size: 14px;
        color: gray;
    }
}


// .btn-popup-primary {
//     // width: 12%;
//     background-color: #fff;
//     color: #000;
//     border-radius: 20px;
// }

.btn-popup-secondry {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    padding: .375rem 2rem;
    margin-top: 60px;

}

.btnn {
    
    border: 1px solid black;
}

#button1 , #button2 {
    display:inline-block;
    /**other codes**/
    }

.border-btn {
    
background-color: transparent!important;
outline: none;
border:1px solid #000!important;
color: #000;
padding: .375rem 2rem;
margin-top: 60px;
    
}

.dialog-footer {
    padding: 0px;
}
.listingImg{
    width: 80px;
    height: 60px;
}
.actionGreenBtn{
    margin: 5px;
    background-color: green;
    color: $white;
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 10px;
    outline: none;
}
.actionRedBtn{
    margin: 5px;
    background-color: red;
    color: $white;
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 10px;
    outline: none;
}

