<div class="schoolMainClass" *ngIf="maxDateTillToday">
    <div class="headerText">
        <h5>Filter by Ingredients</h5>
    </div>
    
    <div class="table-container">
  
        <table>
            <tr>
              <th>Image</th>
              <th>Name</th>
              <th>ID</th>
            </tr>
  
            <tr *ngFor="let data of ingData">
              <td>
                <img src="{{data.strDrinkThumb}}" style="height: 200px;width: 200px;" /> 
              </td>
  
              <td>{{data.strDrink}}</td>
              <td>{{data.idDrink}}</td>
            </tr>
            
          </table>
    </div>
    <div class="totalCountText">
      <span>Total count of school: </span> {{totalRows}}
  </div>
  
  </div>
  
  