<div class="container-fluid loginMainClass row">
    <!-- <div class="row bg-color"></div> -->
    <div class="col-12 middleContent">

        <div class="row justify-content-center text-center">
            <div class="col-lg-3 col-md-4 col-sm-6">
                    <!-- <img src="/assets/image/top-logo.jpeg" class="login-logo"> -->
                    <img src="/assets/image1/ic_logo1.png" class="login-logo">

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6 loginForm">
                    <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
                            <h4> Login</h4>
                             <label>E-mail</label> 
                             <input type="email" formControlName="email" placeholder="E-mail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                             <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                 <div *ngIf="f.email.errors.required">E-mail is required</div>
                                 <div *ngIf="!f.email.errors.required && f.email.errors.pattern">E-mail is invalid</div>
                                </div>
                             <label> Password </label>
                             <input type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                             <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                 <div *ngIf="f.password.errors.required">Password is required</div>
                                 <div *ngIf="!f.password.errors.required && f.password.errors.pattern">Password must contain one uppercase letter and at least 6 characters</div>
                             </div>
                             <div class="text-center">
                                  <button type="submit" class="btn">Login</button>
                             </div>
                     </form>
            </div>
        </div>
    </div>    
</div>
