@import '../../theme/theme'; 

.loginMainClass{
    // background-image: url("../../../assets/image/login_background.png");
     /* Full height */
     height: 100vh; 

     /* Center and scale the image nicely */
     background-position: top center;
     background-repeat: no-repeat;
     background-size: cover;
     .middleContent{
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
     }
    .login-logo{
        margin: 0px auto;
        width: 250px;
    }
    .loginForm{
        // border: 1px solid $border;
        width: 400px;
        margin: 0px auto;
        padding: 10px;
        border-radius: 10px;
        .form-control{
            background-color: $add-field-background-color;
            padding-right: 2px !important;
       } 
       .form-control.is-invalid{
           background-image: inherit !important;
           padding-right: 0px !important;
        }
        label{
            margin-bottom: 5px;
            margin-top: 15px;
            font-weight: 600;
            font-size: 14px;
        }
        h4{text-align: center;}
        button{
            padding: 8px 20px;
            background-color: $black;
            border: 1px solid transparent;
            color: $white;
            margin: 20px auto auto auto;
            border-radius: 20px;
            width: 150px;
            font-size: 14px;
        }
    }
}




// body{
//     margin: 0px;
//     padding: 0px;
//     font-family: 'latoregular';
//     overflow: hidden;
//     }
//     // @font-face {
//     // font-family: 'latoregular';
//     // src: url('../fonts/lato-regular.woff2') format('woff2'),
//     // url('../fonts/lato-regular.woff') format('woff');
//     // font-weight: normal;
//     // font-style: normal;
//     // }
    
    
    
//     .forgot-password
//     {
//         border:1px solid #ddd;
//         width:400px;
//         margin: 20px auto;
//         padding: 40px;
//         border-radius: 10px;
    
    
    
    
//     /*position: absolute;
//     top:50%;
//     left: 50%;
//     transform:translate(-50%, -50%);*/
    
    
    
    
//     }
    
    
    
//     .forgot-password h3
//     {
//     margin: 0px 0px 20px 0px;
//     padding: 0px;
//     text-align: center;
    
    
//     }
    
    
//     .forgot-password input
//     {
//     padding: 8px 20px;
//         border:1px solid #ddd;
//         border-radius: 20px;
//         outline: none;
    
//         width: 100%;
//     }
//     .forgot-password input:focus
//     {
//         border-color: #eeb7a3;
//     }
    
//     .forgot-password label
//     {
//         margin-top: 15px;
//     }
    
    
    
//     .forgot-password input[type="submit"]
//     {
//             padding: 8px 20px;
//             background-color: #000;
//             border:1px solid transparent;
//             color: #fff!important;
//             text-align: center!important;
//             width: 150px!important;
//             margin: 20px auto auto auto;
//             display: inherit;
//     }
    
    
//     .forgot-password input[type="submit"]:hover
//     {
//         border-color: #000;
//             transition: 1s;
//             color:#000!important;
//             background-color: transparent;
//     }
    
    
    
//     // .bg-color
//     // {
//     //     background-color: #000000;
//     //     padding: 20px;
//     // }
    
    
    // .login-logo
    // {
    //     margin: 20px auto;
    //     width: 100px;
    // }
    
//     .center-div
//     {
    
//     position: absolute;
//     top:50%;
//     left: 50%;
//     transform:translate(-50%, -50%);
    
        
//     /*	margin: 125px 0px;*/
//     }
    
//     .fix
//     {
        
    
//             background-color: #000000;
//         padding: 20px;
    
//        position: fixed;
//        left: 0;
//        bottom: 0;
//        width: 100%;
    
    
    
//     }