/* You can add global styles to this file, and also import other style files */
.modal-lg, .modal-xl {
    max-width: 75% !important;
}
.modal-content{
    padding: 20px !important;
}

.ui-autocomplete-items.ui-helper-reset  {
    height: 240px;
    overflow: scroll;
}